# ===============================
# Python
# ===============================
__pycache__/
*.pyo
*.pyd
*.so
Vector_store/

# Virtual environment
venv/
.env
.env.*
*.env

# Python tools
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# ===============================
# FastAPI / Logs
# ===============================
*.log

# ===============================
# Supabase / Secrets
# ===============================
.env
.env.local